 {% extends 'base.html'%}

  {% block contect %}
<section class="text-gray-700 body-font w-1/2 " style="background-color: gray; margin-left: 270px; ">
  <div class="container px-1 py-4 mx-auto flex flex-wrap flex-col">
    <div class="flex mx-auto flex-wrap mb-20" >
    <div class="flex flex-col text-center w-full mb-12" >
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Your Post</h1>
    
    </div>
    <div class="lg:w-full md:w-full mx-auto">
      <div class="flex flex-wrap ">
       <form method="POST" enctype="multipart/form-data" id="">
             {% csrf_token %}
          <div class="p-0 w-w-ful">
         <!--  <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Email" type="file"> -->
         {{post.pic}}
        </div>
        <div class="p-2 w-full">
<!--           <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="subject" type="text"> -->
{{post.subject}}
        </div>
      
        <div class="p-2 w-full">
         <!--  <textarea class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none h-48 focus:border-indigo-500 text-base px-4 py-2 resize-none block" placeholder="what's on your mind?"></textarea> -->
         {{post.msg}}
        </div>
        <div class="p-2 w-full">
          <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit">Button</button>
        </div>
    </form>
      </div>
    </div>
    </div>
   
    <div class="flex flex-col text-center w-full">


      <div class="p-4 md:w-full " style="margin-left: 0px; background-color: white">
        <form >
            <input class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" placeholder="search friends" type="text" name="jquery" value="{{ request.GET.jquery }}">
            <input type="submit" >
        </form>
         {% for profils in profile %}
          <h1>POST</h1>
         <div class="p-4 py-3 md:w-full" id="#{{profils.user}}">
     
        <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden py-3">

            {% if profils.profile_pic %}

          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{profils.profile_pic.url}}" alt="blog">
          {% else %}
           <!-- <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="" alt="pls add profils pic"> -->
           {% endif %}
           <!-- post -->
             {% if profils.pic %}
             <a href="{% url 'facebook:post_User_Post_commt' profils.id %}">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{profils.pic.url}}" alt="blog">
        </a>
          {% else %}
           <!-- <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="" alt="pls add profils pic"> -->
           {% endif %}
           <!-- post -->
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">{{ profils.user }}</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><a href="{{ profils.get_profle_url }}" >{{ profils.user }}</a></h1>
           
           <!--  <div class="flex items-center flex-wrap ">
              <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
              <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                  <circle cx="12" cy="12" r="3"></circle>
                </svg>1.2K
              </span>
              <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>6
              </span>
            </div> -->
          </div>
        </div>

      </div>
            {% endfor %}
    </div>
  </div>
</section>

{%endblock %}